{% extends 'base.html' %}

{% block content %}
<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="{{url_for('static', filename=user+'.png')}}" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user}}</strong> <small>@{{user}}</small> 
                    <br>
                </p>
                <form action="{{url_for('create')}}" method="POST">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" name="post-content" placeholder="New Message" rows="2"></textarea>
                        </div>
                        <br>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                </form>

            </div>
        </div>
</div>
</article>
</div>





{% for post in posts.values() %}
<div class="box">
<article class="media">
    <div class="media-left">
        <figure class="image is-64x64">
            <img src="{{url_for('static', filename=post['Picture'])}}" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{post['Name']}}</strong><a href="{{url_for('profile', username=post['Username'], posts=posts.values())}}"> <small>@{{post['Username']}}</a></small> 
                <br>
                {{post['Text']}}
            </p>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item" aria-label="like">
                    <span class="icon-text">
                        <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                        </span>
                        <span>{{post['LikeCount'] | count}}</span>
                    </span>
                </a>

                <a href="{{url_for('comments', post_id=post['PostId'])}}" class="level-item" aria-label="like">
                    <span class="icon-text">
                        <span class="icon is-small">
                            <i class="fas fa-comment"></i>
                        </span>
                        <span>{{post['CommentCount'] | count}}</span>
                    </span>
                </a>
            </div>
        </nav>
    </div>
</article>
</div>
{% endfor %}
{% endblock %}